body {
  padding-bottom: 36px;
}
* {
  font-family: "Comic Sans MS", sans-serif;
}
ul {
  padding: 0;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}

button:not(.Vue-Toastification__close-button) {
  padding: 4;
  margin: 0;
  font-weight: 600;
  background: unset;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: black;
    color: white;
  }
}
